In [3]:
import pandas as pd

Se almacena el DataFrame en una variable

In [4]:
movies=pd.read_csv("movies-1.csv")

In [3]:
movies.head(5)

   Rank                         Title       Studio       Gross  Year
0     1             Avengers: Endgame  Buena Vista  $2,796.30   2019
1     2                        Avatar          Fox  $2,789.70   2009
2     3                       Titanic    Paramount  $2,187.50   1997
3     4  Star Wars: The Force Awakens  Buena Vista  $2,068.20   2015
4     5        Avengers: Infinity War  Buena Vista  $2,048.40   2018

In [4]:
movies["Studio"].value_counts().head(5)

Studio
Warner Brothers    132
Buena Vista        125
Fox                117
Universal          109
Sony                86
Name: count, dtype: int64

In [5]:
producidas_por_MGM=movies["Studio"]== "MGM" # se puede filtrar información

In [6]:
estrenos_despues_2000 = movies["Year"] > 2000 # los fiiltros pueden ser númericos

Se puede agregar operaciones